@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Clash';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('./assets/Clash/ClashDisplay-Extralight.otf') format('opentype');
}

@font-face {
  font-family: 'Clash';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/Clash/ClashDisplay-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Clash';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/Clash/ClashDisplay-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Clash';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/Clash/ClashDisplay-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Clash';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./assets/Clash/ClashDisplay-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Clash';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/Clash/ClashDisplay-Bold.otf') format('opentype');
}

:root {
  --background: 240deg 6% 7%;
  --foreground: 220deg 9% 94%;

  --muted: 225deg 6% 14%;
  --muted-foreground: 222deg 5% 49%;

  --card: 220deg 6% 10%;
  --card-foreground: var(--foreground);

  --popover: 0deg 0% 100%;
  --popover-foreground: 222.2deg 47.4% 11.2%;

  --border: 220deg 6% 19%;

  --input: 210deg 5% 7%;

  --primary: 225deg 6% 14%;
  --primary-foreground: 210deg 40% 98%;

  --secondary: 193deg 98% 74%;
  --secondary-foreground: 210deg 13% 13%;

  --accent: 193deg 100% 88%;
  --accent-foreground: 215deg 44% 8%;

  --destructive: 348deg 75% 59%;
  --destructive-foreground: 210deg 40% 98%;

  --success: 164deg 64% 42%;
  --success-foreground: 210deg 40% 98%;

  --warning: 26deg 100% 56%;
  --warning-foreground: 210deg 40% 98%;

  --ring: 215 20.2% 65.1%;
  --radius: 0.5rem;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #505350;
}

::-webkit-scrollbar-thumb {
  background: #929292;
  border-radius: 0.325rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

@layer base {
  body {
    @apply bg-background text-foreground font-display antialiased;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
}